.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.texto-introducao {
  margin-top: -30px;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 135px;
  height: 100px;
  background: url("./imgs/img/decorador.svg") no-repeat center;
  position: absolute;
  top: -10px;
  left: -54px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #3d3d3d;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao h1::before {
    width: 90px;
    height: 25px;
    content: "";
    top: 15px;
    left: -63px;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 100px;
    height: 15px;
    left: 120px;
    top: -20px; /* Adicionando a propriedade top */
    content: ""; /* Adicionando a propriedade content */
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
